/* All Pages CSS */

body {
    /* background-color: #ececec; */
    /* background-color: #6495ed; */
}

/* Dashboard CSS */

/* Start of Panel Styling */

.panels-container {
    padding-top: 30px;
}

.panels-container2 {
    padding-top: 30px;
}

/*  Panel Body Border Colour & Box Shadow */
div.panel.panel-primary{
    border: none;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.6);
}

/*  Panel Heading Background Colour  */
div.panel.panel-primary>div.panel-heading{
    background-color: #0e4e95;
    border-color: #0e4e95;
}

/*  Panel Heading Glyphicon Size  */
div>h3>span.glyphicon{ font-size: 2em; }

/*  Panel Body Glyphicon Positioning  */
div.panel-body>p>a>span.glyphicon{ margin-right: 15px; }

/*  Panel Body Links Styling  */
div.panel-body>p>a{
    color: #0e4e95;
    font-size: 17px;
    text-decoration: none;
}

/*  Panel Body Text Hover Color  */
div.panel-body>p>a:hover{ color: #6495ed; }

/*  Panel Title Heading Text  */
h3>p{
    font-size: 1.5em;
    display: inline;
    position: relative;
    left: 12px;
    bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panels-container > .panel.panel-primary {
    height: 200px;
}
/* End of Panel Styling */

/* Dashboard CSS */

.manageSectionHeading {
    padding: 5px;
    background-color: #00183f;
    color: white;

    margin-top: 0px;
    padding: 15px;
}

.profilePanels {
    height: 200px;
}

