/* All Areas of the Site Styles */

.font-blue-accent {
  color: #31A7D6 !important;
}

.site-header {
  height: 450px;
  /* background: url("../img/photography_background.jpg") no-repeat center; */
  /* background: url("../img/homepage-cover.jpg") no-repeat center; */
  background: url("../img/homepage-cover-2.jpg") no-repeat center;
  /* background: url("../img/homepage-cover-3.jpeg") no-repeat center; */
  background-size: cover;
  padding: 0 !important;
  margin: 0 !important;
}

.site-header-profile-page {
  height: 200px;
  /* background: url("../img/photography_background.jpg") no-repeat center; */
  background: url("../img/homepage-cover.jpg") no-repeat center;
  /* background: url("../img/homepage-cover-2.jpg") no-repeat center; */
  /* background: url("../img/homepage-cover-3.jpeg") no-repeat center; */
  background-size: cover;
  padding: 0 !important;
  margin: 0 !important;
}

.site-header-profile-page2 {
  height: 175px;
  /* background: url("../img/photography_background.jpg") no-repeat center; */
  /* background: url("../img/homepage-cover.jpg") no-repeat center; */
  /* background: url("../img/homepage-cover-2.jpg") no-repeat center; */
  background: url("../img/homepage-cover-3.jpeg") no-repeat center;
  background-size: cover;
  padding: 0 !important;
  margin: 0 !important;
}

.header-logo {
  font-style: oblique;
  font-weight: bold;
}

.navbar.navbar-default {
  border: none !important;
  border-radius: 0;
  margin-bottom: 1px;
  box-shadow: 0px 0px 2px 0px black;
  margin: 0;
}

footer {
  background-color: #ececec;
  margin: 0;
  padding: 5px;
}

.header-logo>i {
  margin-right: 30px;
  display: none;
}

.red-dash {
  color: red;
}

.page-title {
  font-size: 30px;
  color: #31A7D6;
}

.section-heading {
  background-color: white;
  margin-bottom: 1px;
  box-shadow: 0px 0px 1px 0px black;
}

.after-heading {
  background-color: #f1f1f1;
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .BRS-nav {
    margin-left: 30px;
  }
  .main-nav>li>a {
    font-size: 16px;
    font-weight: bold;
    /* color: rgb(83, 107, 216) !important; */
    color: #31A7D6 !important;
  }
}

.img-container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  padding-left: 3px;
  padding-right: 3px;
  /* margin-right: 5px; */
}

.img-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img-text-bottom-left>* {
  color: #fff !important;
  text-shadow: 0px 0px 20px black !important;
  text-align: left;
}

.img-text-bottom-left {
  position: absolute;
  bottom: 0px;
  left: 3px;
  background-color: rgba(0, 0, 0, 0.10);
  border-radius: 10px;
}

.indexPageTitle {
  text-shadow: 0px 0px 10px black;
}

.BRSmainDivs {
  background-color: #0B1A2D;
  padding: 0;
  font-size: 20px;
  margin-bottom: 20px;
}

.BRSmainDivs>a {
  padding: 5px;
}

.BRSsecondaryDivs,
.BRSsecondaryDivs:active,
.BRSsecondaryDivs:focus {
  position: relative;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}

.BRSsecondaryDivs:hover,
.BRSsecondaryDivs:active {
  text-decoration: none;
  color: white;
  background-color: rgb(48, 101, 161);
  transition: all ease-in-out 0.4s;
}

.arrow-down {
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border: none;
}

.arrow-down-active {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid white;
}

.BRSactive {
  background-color: #0074E5;
}

.sortOptions {
  text-align: left;
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
}

.singleOption {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  cursor: pointer;
}

.option-active {
  color: #31A7D6 !important;
  border-bottom: 3px solid #31A7D6;
}

.option-active > a {
  color: #31A7D6 !important;
}

.priceControls {
  padding: 0;
  margin: 0;
}

.propDesc {
  /* display: inline-block; */
}


/* Photo Grid on Single View Page */

#recentlyAdded a div img,
#results a div img {
  width: 324px;
  height: 243px;
}

/* Photo Grid on Single View Page */

#photostest {
  margin-top: 15px;

  max-height: 300px;
  overflow-x: scroll;
  display: flex;
}

#photostest img {
  border: 1px solid white;
}

.navglyph {
  padding: 3px;
  border: 1px solid #31A7D6 !important;
  border-radius: 50%;
}